@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'ProtestStrike';
  src: url('./public/fonts/ProtestStrike-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

